<div *ngIf="!partidaAcabada" style="text-align: center;">
    <h2>Torn del jugador "{{torn}}"</h2> 
</div>
<div *ngIf="partidaAcabada" style="text-align: center;">
    <h2>Ha gunyat el jugador "{{torn}}"</h2> 
</div>
<div>
    <button type="button" class="btn btn-warning" *ngIf="partidaAcabada" (click)="playAgain()">Tornar a Jugar</button>
</div>
<div class="buttons">
    <button type="button" class="btn btn-outline-light btn-xlarge" id="Btn1" (click)="buttonClicked(1)"></button>
    <button type="button" class="btn btn-outline-light btn-xlarge" id="Btn2" (click)="buttonClicked(2)"></button>
    <button type="button" class="btn btn-outline-light btn-xlarge" id="Btn3" (click)="buttonClicked(3)"></button>
    <br>
    <button type="button" class="btn btn-outline-light btn-xlarge" id="Btn4" (click)="buttonClicked(4)"></button>
    <button type="button" class="btn btn-outline-light btn-xlarge" id="Btn5" (click)="buttonClicked(5)"></button>
    <button type="button" class="btn btn-outline-light btn-xlarge" id="Btn6" (click)="buttonClicked(6)"></button>
    <br>
    <button type="button" class="btn btn-outline-light btn-xlarge" id="Btn7" (click)="buttonClicked(7)"></button>
    <button type="button" class="btn btn-outline-light btn-xlarge" id="Btn8" (click)="buttonClicked(8)"></button>
    <button type="button" class="btn btn-outline-light btn-xlarge" id="Btn9" (click)="buttonClicked(9)"></button>
</div>

