<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1.text{
        text-align: center

    }
    table {
    border-collapse: collapse;
    width: 70%;
    margin-left:auto; 
    margin-right:auto;
}
th {
    white-space: nowrap;
}

td, th {
    padding: 1em 1.5em;
    text-align: center;
    
}

</style>
<br>
<h1 class="text">Ranking</h1>
<img src="assets/img/Ranking.png">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Nom</th>
            <th>Points</th>
        </tr>
    </thead>
        <tr>
            <td>1</td>
            <td>Nom</td>
            <td>points</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Nom</td>
            <td>points</td>
        </tr>
</table>