<div class="row">
    <div class="col">
        <img src="assets/img/logo.png" width="70px" height="70px" style="margin-left: 10px; margin-top: 10px;">
    </div>
    <div class="col">
        <button *ngIf="taulell" (click)="doLogout()" class="btn btn-info logout">Log Out</button>
    </div>
</div>

<div style="text-align: center; margin-top: 3em;" >
    <app-login-button *ngIf="!taulell"></app-login-button>
    <app-taulell *ngIf="taulell"></app-taulell>
</div>

<div>
    <app-ranking></app-ranking>
</div>